body {
	background-color: #1A1A1A;
}

.uk-logo img{
	width: 250px;
}

.onstate {
  background-color: #fff!important;
  color:#194291!important;
    -webkit-transition: background-color 150ms;
  -moz-transition: background-color 150ms;
  -o-transition: background-color 150ms;
  transition: background-color 150ms;
}

.current {
	border: red solid 2px!important;
}

