body {
	background-color: #1A1A1A;
}

.uk-logo img{
	width: 250px;
}

.onstate {
  background-color: #fff!important;
  color:#194291!important;
    -webkit-transition: background-color 150ms;
  -moz-transition: background-color 150ms;
  -o-transition: background-color 150ms;
  transition: background-color 150ms;
}

.current {
	border: red solid 2px!important;
}

#player {
	border: 1px #194291 solid;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
}

.adholder {
	border: 1px #194291 solid;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
}
